{% extends 'base.html' %}

{% block title %} Change password {% endblock title %}

{% block content %}

<!-- Container -->
<div id="container">
    <div class="main" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <h1>Изменение пароля</h1>
                <div id="content-main">
                    <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                            value="yjOWE0jKlv4lKGt13O8HpRJXH9Z8Ee53A0Gz5aqbX49FKyUnV4UGsZ7MBn9MqIqV">
                        {% csrf_token %}
                        <div>
                            <p>В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый
                                пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
                            <fieldset class="module aligned wide">
                                <div class="form-row">
                                    <label for="id_old_password">Старый пароль:</label> <input type="password"
                                        name="old_password" autocomplete="current-password" autofocus="" required=""
                                        id="id_old_password">
                                </div>
                                <div class="form-row">
                                    <label for="id_new_password1">Новый пароль:</label> <input type="password"
                                        name="new_password1" autocomplete="new-password" required=""
                                        id="id_new_password1">
                                </div>
                                <div class="form-row">
                                    <label for="id_new_password2">Подтверждение нового пароля:</label> <input
                                        type="password" name="new_password2" autocomplete="new-password" required=""
                                        id="id_new_password2">
                                </div>
                            </fieldset>
                            <div class="errors">
                                {{form.errors}}
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="Изменить мой пароль" class="default">
                            </div>
                        </div>
                    </form>
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->
        </div>
    </div>
</div>
<!-- END Container -->

{% endblock content %}