{% extends 'base.html' %}

{% block title %} Change password done {% endblock title %}

{% block content %}

<!-- Container -->
<div id="container">
    <div class="main" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <h1>Пароль успешно изменен</h1>
                <p>Ваш пароль был изменен.</p>
                <br class="clear">
            </div>
            <!-- END Content -->
        </div>
    </div>
</div>
<!-- END Container -->

{% endblock content %}