{% extends 'base.html' %}

{% block title %} Reset password {% endblock title %}

{% block content %}

<!-- Container -->
<div id="container">
    <div class="main" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <h1>Восстановление пароля</h1>
                <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как
                    установить новый пароль.</p>
                <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                        value="V4eXCHhzfDSFDowBGZPIj8KDQyNXshSUbN27TalMp6KRGuwB5qmozmzVKbPOYmYs">
                    {% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="form-row field-email">
                            <label for="id_email">Адрес электронной почты:</label>
                            <input type="email" name="email" autocomplete="email" maxlength="254" required=""
                                id="id_email">
                        </div>
                        <div class="errors">
                            {{form.errors}}
                        </div>
                        <input type="submit" value="Восстановить мой пароль">
                    </fieldset>
                </form>
                <br class="clear">
            </div>
            <!-- END Content -->
        </div>
    </div>
</div>
<!-- END Container -->

{% endblock content %}