{% extends 'base.html' %}

{% block title %} Verify email done {% endblock title %}

{% block content %}

<!-- Container -->
<div id="container">
    <div class="main" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <h1>Акаунт подтверждён</h1>
                <p>Ваш акаунт был успешно подтверждён.</p>
                <br class="clear">
            </div>
            <!-- END Content -->
        </div>
    </div>
</div>
<!-- END Container -->

{% endblock content %}