{% extends 'base.html' %}

{% block title %} Verify email {% endblock title %}

{% block content %}

<!-- Container -->
<div id="container">
    <div class="main" id="main">
        <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
                <h1>Письмо с ссылкой для подтверждения отправлено</h1>
                <p>Мы отправили вам инструкцию для подтверждения акаунта на указанный адрес электронной почты.
                    Вы должны получить ее в ближайшее время.</p>
                <br class="clear">
            </div>
            <!-- END Content -->
        </div>
    </div>
</div>
<!-- END Container -->

{% endblock content %}