ul.nav-items {
    margin: 0;
    padding: 4px;
}

ul.nav-items li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

ul.nav-items li a{
    text-decoration: none;
    font-size: 28px;
}