{% extends 'base.html' %}

{% load static %}

{% block title %} Register {% endblock title %}

{% block content %}
<div class="register">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div>
                {{field.label}}
                {{field}}
                <p>{{field.help_text}}</p>
            </div>
            {% endfor %}
            <div>
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
            <input type="submit" class="btn btn-primary" value="Register">
        </form>
    </div>
</div>
{% endblock content %}