<div class="navigation clr" [available=lastcomments] style="padding: 4% 8%;" [/available]>
    <div class="page_next-prev">
        <span class="page_prev left boobls-anim" title="Предыдущая страница">
            [prev-link]<svg class="icn icn-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M24 12.75h-21.075l5.625 5.7-1.050 1.050-7.5-7.5 7.5-7.5 1.050 1.050-5.625 5.7h21.075v1.5z">
                </path>
            </svg>[/prev-link]
        </span>
        <div class="pages">{pages}</div>
        <span class="page_next right boobls-anim" title="Следующая страница">
            [next-link]<svg class="icn icn-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 11.25h21.15l-5.625-5.7 0.975-1.050 7.5 7.5-7.5 7.5-1.050-1.050 5.625-5.7h-21.075v-1.5z">
                </path>
            </svg>[/next-link]
        </span>
    </div>
</div>